h1 {
    padding-left: 5px;
}

h6 {
    padding-left: 5px;
}

p {
    padding-left: 5px;
}

form {
    padding-left: 5px;
}

.box {

    border: 2px solid red;
    padding: 10px;
    width: 50%;
    margin: 10px;

}
